@model MemoryGame.Board

<h2>Memory Game Board</h2>
<table id="table_board">
    @for (int i = 0; i < Model.cells.Length; i++)
    {
        <tr>
            @for (int j = 0; j < Model.cells[i].Length; j++)
            {
                <td>
                    <img src="images/cards/backside.png" class="card-back">

                    <img src="@Model.cells[i][j].GetImage()" class="card-front">
                </td>
            }
        </tr>
    }
</table>

<script>
    $(document).ready(function() {
  // Handle click event on table cells
  $('#table_board td').click(function() {
    // Toggle the visibility of card images
    $(this).find('.card-front, .card-back').toggle();
  });
});

</script>

