@{
    ViewData["Title"] = "Home Page";
    @model MemoryGame.Board

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="partialViewContainer">
        @{
           await Html.RenderPartialAsync("_TableBoard", Model);
        }
    </div>
</div>
