/* Styling for the table cells */
#table_board td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    position: relative;
}

    #table_board td img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        border-radius: 5px;
    }

    /* Hover effect for individual cells */
    #table_board td:hover {
        background-color: #e0e0e0;
    }

        #table_board td:hover::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            height: 100px;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: -1;
        }

.card-front {
    display: none; /* Hide the front image initially */
    width: 100px;
    height: 100px;
}

    .card-front.is-flipped {
        display: inline;
        width: 100px;
        height: 100px;
    }

.card-back.is-flipped {
    display: none;
    width: 100px;
    height: 100px;
}

td.card-front.is-matched {
    pointer-events: none;
}
